{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Tailwind</title>
    <!-- Inclusão do Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.8.0/dist/tailwind.min.css" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Cabeçalho -->
    <header class="bg-blue-500 text-white p-4">
        <h1 class="text-3xl">Bem-vindo! ao Meu Portfólio</h1>
    </header>

    <!-- Conteúdo principal -->
    <main class="p-6">
        <section class="max-w-4xl mx-auto">
            <h2 class="text-2xl font-bold mb-4">Sobre Mim</h2>
            <p class="mb-4">Esse é um exemplo de página com Tailwind CSS. Utilize as classes do Tailwind para estilizar seu conteúdo de forma fácil e rápida.</p>
            <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Saiba Mais</button>
        </section>
    </main>

    <!-- Rodapé -->
    <footer class="bg-gray-800 text-white p-4 mt-6">
        <p>&copy; 2024 Meu Portfólio</p>
    </footer>

</body>
</html>
